/* Test CSS sheet
april 19 2012
i duno lol */



body{
margin:0px;
padding:0px;
margin-top:0px;
}

div.navbar{

text-align:center;
background-color:red; 
margin: 0%;
height: 5%;

}

#optionbar{

float:left;
width:10%;
height:90%;
background-color:blue;
margin: 0%;
text-align: center;
}

#maincontent{

float: left;
background-color:green;
width: 90%;
height: 90%;
margin: 0%;
text-align: left;

}
#statusbar{
text-align:right;
background-color:grey; 
height: 95%;
margin: 0%;
}

div.option1{
background-color:white;
}

div.option2{
background-color:black;
color: white;
}
